/* HEADINGS AND PARAGRAPH STYLES */
h1 {font-size:24px;color:#073763;font-weight:bold;}
h2 {font-size:22px;color:#073763;}
h3 {font-size:21px;font-weight:bold;}

a {font-style:italic;text-decoration:none;color:blue;}
.txtLink {font-weight:bold;color:blue;}
.txtLink:hover {cursor:pointer;color:darkblue;}


body{font-family:Arial;font-size:18px;margin:0;padding:0;color:black;line-height:1.6;}


/* Containers */

.container {width:90vw;margin:auto;max-width:1100px;padding:10px;margin-top:40px;}

.fullContainer, .titleBarContainer {width:full;margin:0;padding:0;margin-top:40px;}

/* Dividers */
.lineBreak {width:95vw; margin:auto;max-width:1200px;margin-top:40px;background:lightgray;height:3px;border-radius:2px;}


/* Buttons */

button {border:2px solid #07039D;border-radius:8px;color:#07039D;min-width:150px;margin:10px;background:none;padding:10px;font-size:18px;}
button:hover {background:lightgray;cursor:pointer;}

.btnFull {border:2px solid #07039D;border-radius:8px;color:white;background:#07039D;}
.btnFull:hover {background:#073763;cursor:pointer;}

.btnWhite {border:2px solid white;border-radius:8px;color:white;background:none;min-width:150px;padding:10px;}

.titleBarContainer {background:#073763;margin-top:0;color:white;text-align:center;padding:10px;}

/* TEXT AND INFORMATION TILES (LIKE IN THE RESORT SPOTLIGHT TAB AND ANY OTHER PLACES */

    .tileContainer {border:1px solid black; border-radius:20px; position:relative; margin:15px; padding:10px; vertical-align:middle; width:20%; min-width:300px; min-height:400px; transition:0.4s; display:inline-block;}
    .tileContainer:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    .tileLink {position:absolute;bottom:10px;left:0;right:0;margin:auto;}
    .tileImage {margin:0; width:100%; height:20%; border-radius:20px; object-fit:cover;}
    
    @media screen and (max-width:900px){
    	.tileContainer {width:80%; min-width:300px; min-height:300px;}
    }
