/* Loading Symbol etc. */
#loaderContainer{transition-property:opacity;transition-duration:0.5s;}
#loader {
	position:fixed;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #07309D;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    margin:auto;
    z-index:9999;
    left:0;right:0;top:10%;
}
#loaderBackground {position:fixed;width:100vw;height:100vh;background:white;z-index:9999;}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }   100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }   100% { transform: rotate(360deg); }
}


/* HEADER WILL ALWAYS BE 70PX HEIGHT if greater than 900px or 60PX HEIGHT if less than 900px; */

#headerSpacer {display:block;width:100%;height:70px;opacity:0;} /*Prevents page elements from appearing below the header */

#headerMain{
	position:fixed;top:0;right:0;left:0;
    height:70px; background:#073763; color:white;
    text-align:right;
    z-index:998;
    }
#headerLogo{
	display:inline-block;height:50px;width:auto;margin:10px;cursor:pointer;vertical-align:middle;float:left;
}
.headerLink{
	color:white;font-size:24px;font-weight:normal;font-style:normal;
    display:inline-block;margin:8px;margin-top:21px;line-height:1;
}
.headerLink:hover {font-weight:bold;cursor:pointer;}

.headerBtnLink {height:70px;border:none;border-radius:0;background:none;font-size:20px;transition:0.4s;color:white;float:right;margin:0;padding:10px;min-width:0;}
.headerBtnLink:hover {background:#efefef;color:#073763;}

#headerTicketsButton {width:200px;background:white;color:#07309D;border:none;height:40px;margin-top:15px;float:right;transition:0.4s;}
#headerTicketsButton:hover{box-shadow: 4px 4px 3px lightgray;}


/* SCREEN WIDTH ADJUSTMENTS */
@media screen and (max-width:900px){
    #headerMain{height:60px;}
    #headerLogo{height:40px;}
    .headerLink{margin-top:18px;font-size:22px;}
    #headerSpacer{height:60px;}
    #headerTicketsButton{margin:auto;margin-top:0;width:240px;display:block;height:40px;float:none;margin-bottom:10px;}
    
    .headerBtnLink{-webkit-animation: fadeIn 1s;    animation: fadeIn 1s; font-size:20px;margin-top:2px;}

}

/* HEADER LINKS ANIMATION */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
	}

/* HEADER SIDE BAR MENU */
#headerMenu {
	overflow-y:auto;
    overflow-x:hidden;
    
    position:fixed;
    top:60px;left:0;bottom:0;
    
    background:dimgray;
    color:white;
    
    width:0;
	z-index:999;
    
    transition-property:width;
    transition-duration:0.4s;

    display:none;
    text-align:left;
}
#hideHeaderMenuBtn {position:fixed;z-index:997;opacity:0;top:0;bottom:0;right:0;left:0;display:none;}

#openHeaderMenuBtn {background:none;height:50px;min-width:50px;max-width:50px;padding:0;margin-top:5px;margin-right:5px;float:right;border:none;color:white;font-size:25px;}
#openHeaderMenuBtn:hover {transform: rotate(-20deg);}

.headerMenuLinks {
	-webkit-animation: fadeIn 1s;    animation: fadeIn 1s;
    font-size:21px; color:white; font-weight:normal; font-style:normal; text-decoration:none;
    margin-top:5px; display:block;
    padding:0;min-width:0;border:none;margin-left:0;
}
.headerMenuLinks:hover {color:#efefef; text-decoration:underline; font-weight:normal; background:none;}
.hmlIndent {margin-left:20px;}



/* ----------------------------------------------------------------------------------------- FOOOTER ELEMENT ----- */

#footerDiv{width:100%;max-width:1100px;margin:auto;line-height:2;font-size:15px;}

	#footerLinks{display:flex; flex-flow:row; font-size:15px; width:100%; align-items:center; justify-content:center; align-items: flex-start;max-width:1000px;margin:auto;}
  	.footerColumn{max-width:25%; padding:10px; vertical-align:top; margin:auto; margin-top:0;}
    	#footerLinks a{color:dimgray;font-weight:normal;font-style:normal;text-decoration:none;display:block;line-height:1.2;margin-top:9px;}
    	#footerLinks a:hover {text-decoration:underline;cursor:pointer;}
    
	@media screen and (max-width:600px){
		#footerLinks{flex-flow:column;}
		.footerColumn{max-width:100%;width:100%;text-align:left;padding-left:25px;}
	}
