/* HEADER WILL ALWAYS BE 70PX HEIGHT if greater than 900px or 60PX HEIGHT if less than 900px; */

#headerSpacer {display:block;width:full;height:70px;opacity:0;} /*Prevents page elements from appearing below the header */

#headerMain{
	position:fixed;top:0;right:0;left:0;
    height:70px; background:#073763; color:white;
    text-align:right;
    z-index:998;
    }
#headerLogo{
	display:inline-block;height:50px;width:auto;margin:10px;cursor:pointer;vertical-align:middle;float:left;
}
.headerLink{
	color:white;font-size:24px;font-weight:normal;font-style:normal;
    display:inline-block;margin:8px;margin-top:21px;line-height:1;
}
.headerLink:hover {font-weight:bold;cursor:pointer;}

.headerBtnLink {min-width:0px;font-size:24px;padding:0;background:none;border:none;margin:8px;margin-top:20px;color:white;float:right;}
.headerBtnLink:hover {font-weight:bold;background:none;}

#headerTicketsButton {width:250px;background:white;color:#07309D;border:none;height:50px;margin-top:10px;float:right;transition:0.4s;}
#headerTicketsButton:hover{box-shadow: 4px 4px 3px lightgray;}


/* SCREEN WIDTH ADJUSTMENTS */
@media screen and (max-width:900px){
    #headerMain{height:60px;}
    #headerLogo{height:40px;}
    .headerLink{margin-top:18px;font-size:22px;}
    #headerSpacer{height:60px;}
    #headerTicketsButton{margin:auto;margin-top:0;width:240px;display:block;height:40px;float:none;margin-bottom:10px;}
    
    .headerBtnLink{-webkit-animation: fadeIn 1s;    animation: fadeIn 1s; font-size:20px;margin-top:2px;}

}

/* HEADER LINKS ANIMATION */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
	}

/* HEADER SIDE BAR MENU */
#headerMenu {
	overflow-y:auto;
    overflow-x:hidden;
    
    position:fixed;
    top:60px;left:0;bottom:0;
    
    background:dimgray;
    color:white;
    
    width:0;
	z-index:999;
    
    transition-property:width;
    transition-duration:0.4s;

    display:none;
    text-align:left;
}
#hideHeaderMenuBtn {position:fixed;z-index:997;opacity:0;top:0;bottom:0;right:0;left:0;display:none;}

#openHeaderMenuBtn {background:none;height:50px;min-width:50px;max-width:50px;padding:0;margin-top:5px;margin-right:5px;float:right;border:none;color:white;font-size:25px;}
#openHeaderMenuBtn:hover {transform: rotate(-20deg);}

.headerMenuLinks {
	-webkit-animation: fadeIn 1s;    animation: fadeIn 1s;
    font-size:21px; color:white; font-weight:normal; font-style:normal; text-decoration:none;
    margin-top:5px; display:block;
    padding:0;min-width:0;border:none;margin-left:0;
}
.headerMenuLinks:hover {color:#efefef; text-decoration:underline; font-weight:normal; background:none;}
.hmlIndent {margin-left:20px;}





#footerDiv{width:90%;max-width:1100px;margin:auto;line-height:2;font-family:arial;font-size:15px;}
.footerGroup {width:200px;display:inline-block;margin:25px; vertical-align:top;}
.footerLineBreak{width:95%; margin:auto;max-width:1500px;margin-top:40px;background:lightgray;height:3px;border-radius:2px;}
.footerLink {color:dimgray;text-decoration:none;cursor:pointer;font-style:normal;}
.footerLink:hover {color:blue;text-decoration:underline;}
